
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>پایگاه شهیدان عبداله دخت</title>

    <!-- Custom fonts for this theme -->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">


    <!-- Theme CSS -->
    <link href="~/Content/css/freelancer.min.css" rel="stylesheet">
    <style>
     font-face {
	font-family: 'iran';
	src: url('fonts/iran.eot?-wwn5ej');
	src: url('fonts/iran.eot?#iefix-wwn5ej') format('embedded-opentype'),
	url('fonts/iran.woff?-wwn5ej') format('woff'),
	url('fonts/iran.ttf?-wwn5ej') format('truetype'),
	url('fonts/iran.svg?-wwn5ej#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
    </style>
</head>

<body id="page-top">

    <!-- Navigation -->
 
      @RenderBody()
 

    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="~/Content/js/jqBootstrapValidation.js"></script>

    <script src="~/Content/js/contact_me.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/Content/js/freelancer.min.js"></script>

</body>

</html>
