@model Masjed.Models.ChangePasswordViewModel
@{
 
    Layout = "~/Areas/Farhangi/Views/Shared/_LayoutFarhangi.cshtml";
}



<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page">
    <div class="text-center">
        <a href="index.html" class="logo"><span>پایگاه شهیدان عبداله دخت </span></a>
        <h5 class="text-muted m-t-0 font-600">صفحه تغییر رمزعبور به امور فرهنگی شهیدان عبداله دخت</h5>
    </div>
    <div class="m-t-40 card-box">
        <div class="text-center">
            <h4 class="text-uppercase font-bold m-b-0">ورود</h4>
        </div>
        <div class="panel-body">

            <section id="loginForm">
       
@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" name="OldPassword" type="password" required="" placeholder="رمزعبورجاری">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" name="NewPassword" type="password" required="" placeholder="رمزجدید">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" name="ConfirmPassword" type="password" required="" placeholder="تکراررمزجدید">
                        </div>
                    </div>
                    <div class="form-group text-center m-t-30">
                        <div class="col-xs-12">
                            <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light" type="submit">ذخیره</button>
                        </div>
                    </div>
                }
                @if (Session["MsgChangePassword"] != null)
                {
                    <div class="alert alert-success" role="alert">
                        @Session["MsgChangePassword"].ToString()
                    </div>
                }
             
            </section>
        </div>
    </div>
</div>
